body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

h2  {
  color: blue;
  text-align: left
}
h3   {
    color: firebrick;
    text-align: left
}
p {
  font-family: verdana;
  font-size: 20px;
}
a:link {color: purple}
a:visited {color:blueviolet}
a:hover {color: navy}
